html, body
{
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    word-wrap: break-word;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.element-full-height {
    flex: 1 1 auto;
}

.hidden {
    display: none;
}

textarea {
    display: block;
}
